@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #00a6cb;
}

::selection {
  color: white;
  background: #00a6cb;
}

.win100k ::-webkit-scrollbar {
  width: 4px;
}

.win100k ::-webkit-scrollbar-track {
  /* background-color: #00a6cb; */
  background-color: white;
}

.win100k ::-webkit-scrollbar-thumb {
  background-color: #00a6cb;
  border-radius: 5px;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.7s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.hero-section {
  background: rgb(0, 166, 203);
  background: linear-gradient(
    0deg,
    rgba(0, 166, 203, 0.5131302521008403) 53%,
    rgba(0, 1, 1, 0) 100%
  );
}

.animate-blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
