@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #00a6cb;
}

::selection {
  color: white;
  background: #00a6cb;
}

.win100k ::-webkit-scrollbar {
  width: 4px;
}

.win100k ::-webkit-scrollbar-track {
  /* background-color: #00a6cb; */
  background-color: white;
}

.win100k ::-webkit-scrollbar-thumb {
  background-color: #00a6cb;
  border-radius: 5px;
}
